services:
  app:
    container_name: app-dev
    build: 
      context: .
      dockerfile: Dockerfile.dev
    working_dir: /app
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - .:/app
      - go-mod-cache:/go/pkg/mod
      - go-build-cache:/root/.cache/go-build
    depends_on:
      - db

  db:
    container_name: app-postgres-dev
    image: postgres:17.8-alpine3.23
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pg-data-dev:/var/lib/postgresql/data

volumes:
  pg-data-dev:
  go-mod-cache:
  go-build-cache: